body {
    margin:0;
    font-family: 'Space Mono', monospace;
}

.global-container {
    border:0;
    margin:0;
    padding:0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail-container {
    display:flex;
    flex-direction: column;
    margin: 2% 3%;
    transition: 150ms;
}

.thumbnail-placeholder {
    width: 250px;
    height:250px;
}

.thumbnail-placeholder img {
    pointer-events: none;
    max-width:100%;
}

.thumbnail-placeholder:hover {
    opacity:0.5;
    cursor: pointer;
}

.thumbnail-text {
    color:black;
    margin: 5% 0 0 0;
    font-size: 12px;
}

/* Navigation */

.navigation {
    position: relative;
    margin: 80px 0 0 0;
    height:30px;
    width:1270px;
    font-size: 14px;
}

.navigation a {
    margin: 0 5px;
    text-decoration: none;
    color:black;
}

.navigation-links {
    position: absolute;
    right: 4%;
    
}

.navigation-links a {
    padding: 0 5%;
    background-color: #e4e7fb;
}

.navigation-links a:hover {
    background-color: #6495ed;
}

.navigation-logo {
    background-color: #e4e7fb;
    position: absolute;
    left: 1%;
}

/* Work */

.work-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width:1400px;
    margin:0px 0 0 0;
}

.work-title {
    color:rgb(180, 180, 180);
    letter-spacing: 10px;
    font-size: 35px;
    font-weight: 500;
    width: 1250px;
    margin: 0 0 0 0px;
    transition:300ms;
}

/* Project */

.project-container {
    /* background-color: red; */
    width: 1250px;
    display:flex;
    flex-direction: row;
    align-content: flex-start;
}

.project-images {
    display:flex;
    flex-direction: column;
}

.project-video-container {
    display:flex;
    margin:65px 0; 
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.projectpage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-video {
    width:700px;
    
}

.project-video iframe {
    width: 100%;
    left:0;
}

.project-image {
    width:700px;
}

.project-image img {
    max-width: 100%;
    max-height: 450px;
    margin: 70px 0;
}

.project-spinner {
    opacity:1;
    position: absolute;
    margin: 150px 0 0 280px;
}

/* Project/Info */

.project-info {
    /* background-color: coral; */
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 50px 0% 0px 50px;
    width: 100%;
    text-align: end;
}

.project-info-title {
    font-size: 30px;
    margin: 0 0 5% 0;
}

.project-info-text1 {
    margin: 8% 0;
    text-align: end;
}

.project-info-text2 {
    text-align: start;
}

/* About */

.about-container {
    display:flex;
    height:60vh;
    width:1000px;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    font-size: 30px;
}

.about-links {
    display:flex;
    flex-direction: row;
    margin: 30px 0 0 0;
}

.about-links img {
    width:25px;
    margin: 0 5px;
}
.about-links img:hover {
    filter: invert(57%) sepia(87%) saturate(2057%) hue-rotate(195deg) brightness(98%) contrast(89%);
    cursor: pointer;
}

/* Tools Page */

.tools-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1250px;
}

.tools-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0 10% 0;
}

.tools-title {
    margin: 10px 5px;
    font-size: 20px;
}

.tools-about {
    margin: 40px 0px;
    width:100%;
}

.tools-credit {
    color: gray;
    font-size: 13px;
}

.tools-title-image {
    margin: 50px 0px;
    align-self: center;
}

.tools-title-image img {
    max-width: 100%;
}

.tools-section-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.tools-section0-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    margin: 0 0 15% 0;
    justify-content: flex-start;
}

.tools-section1-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    margin: 15% 0;
    justify-content: flex-start;
}

.tools-section1-text {
    width:350px;
    margin: 0px 5%;
}

.tools-section2-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    margin: 15% 0;
    justify-content: flex-end;
    /* background-color: rgb(124, 124, 124); */
}

.tools-section2-text {
    width:350px;
    margin: 0px 5%;
}

.tools-gif3 {
    max-width: 100%;
    background-color: gray;
}

.tools-gif {
    max-width: 100%;
    background-color: gray;
}

.tools-section3-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    justify-content: flex-start;
}

.tools-section3-text {
    width: 350px;
    margin: 0px 8%;
}

.tools-section0-text {
    width: 450px;
    margin: 0px 4%;
}

.tools-footer-container {
    margin: 15% 0;
}

.tools-download-link {
    font-size: 24px;
}

.tools-gif-container {
    max-width: 100%;
}

/* Loader Page */

.loader-page {
    background-color: white;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Footer */

.footer {
    font-size: 12px;
    color:cornflowerblue; 
    color:rgb(180, 180, 180);
    position:relative;
    /* background-color: rgb(247, 244, 64); */
    margin: 3% 0% 2% 0;
    padding: 0 5px;
}

/* Responsive */

@media (max-width: 1500px) {
    .tools-section0-container {
    flex-direction: column;
    width:800px;
    }

    

    .tools-section0-text {
        width: 800px;
        margin: 5% 0%;
    }

    .tools-section1-container {
        flex-direction: column;
        margin: 3% 0;
        width:800px;
    }

    .tools-section2-container {
        width:800px;
    }

    .tools-section3-container {
        width:800px;
    }

    .tools-section1-text {
        margin: 3% 0;
        width:800px;
    }

    .tools-section3-text {
        margin:0 5%;
        width:350px;
    }

    .tools-section2-text {
        margin: 3% 0;
        width:800px;
    }

    .work-container {
    width:1000px;
    }

    .tools-container {
    width: 880px;
    }
    
    .navigation {
    width:880px
    }

    .project-container {
    width:880px;
    }

    .about-container {
    width:850px    
    }

    .project-info {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0% 80px 15px;
    width: 100%;
    text-align: center;
    }
}

@media (max-width: 1100px) {
    .tools-section0-container {
        flex-direction: column;
        width:650px;
        }

    .tools-section1-container {
        flex-direction: column;
        margin: 0 0;
        width:650px;
    }

    .tools-section2-container {
        width: 650px;
        flex-direction: column;
    }

    .tools-section3-container {
        width: 650px;
        margin: 10% 0;
        flex-direction: column;
    }

    .tools-section0-text {
        width: 650px;
        margin: 3% 0%;
    }

    .tools-section1-text {
        margin: 3% 0;
        width:650px;
    }

    .tools-section3-text {
        margin: 3% 0%;
        width:650px;
    }

    .tools-section2-text {
        margin: 3% 0;
        width:650px;
    }


    .work-container {
    width:800px;
    }

    .tools-container {
        width: 650px;
        }

    .about-container {
        width:550px    
        }

    .navigation {
        width:560px
        }

    .project-container {
    width:560px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }

    .project-info {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .project-image {
        width:500px;
    }

    .project-video-container {
        margin:0px 0; 
    }

    .project-video {
        width: 500px;
        
    }

    .project-spinner {
        position: absolute;
        margin: 150px 0 0 200px;
        width:10px;
    }

    .project-spinner img {
        width:60px;
    }
}

@media (max-width: 800px) {
    .tools-section0-container {
        width:500px;
        }

    

    .tools-section1-container {
        margin:0 0;
        width:500px;
    }

    .tools-section2-container {
        margin:15% 0;
        width: 500px;
    }

    .tools-section3-container {
        margin: 10% 0 0 0;
        width: 500px;
    }

    .tools-container {
        width: 500px;
    }

    .tools-section0-text {
        width: 500px;
    }

    .tools-section1-text {
        width:500px;
    }

    .tools-section3-text {
        width:500px;
    }

    .tools-section2-text {
        width:500px;
    }

    .work-container {
    width:400px;
    }

    .project-container {
        width:350px;
    }

    .about-container {
        width:350px    
        }

    .navigation {
        width:250px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height:80px;
        margin: 20px 0;
        }

    .navigation-links {
        position:relative;
        margin: 10px 0 0 0;
        }

    .navigation-logo {
        position:relative;
        left: 8px;
    }
    
    .project-spinner {
        position: absolute;
        margin: 0;
        width:50px;
    }
}

@media (max-width: 600px) {

    .tools-container {
        width: 350px;
    }
    .tools-section0-container {
        width:350px;
        }

    .tools-section1-container {
            width:350px;
        }

    .tools-section2-container {
            width:350px;
        }

    .tools-section3-container {
            width:350px;
        }

        .tools-section0-text {
            width: 350px;
        }

        .tools-section1-text {
            width:350px;
        }
    
        .tools-section3-text {
            width:350px;
        }
    
        .tools-section2-text {
            width:350px;
        }

    .tools-title-image {
        width:350px;
    }

    .work-container {
        width:350px;
        }

        .project-image {
        width:330px;  
        }

        .project-image img {
        margin: 35px 0;
        }

        .project-video {
        width: 330px;
            
        }

        .footer {
        margin: 20% 0% 15% 0;
        padding: 0 5px;
        }

}