/* Section Mid */
.workSectionMid-container img {
    max-width: 100%;
    max-height: 100%;
}

.workSectionMid-container {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    width:100%;
    height: 1500px;
}

.workSectionMid-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    height:100%;
}

.workSectionMid-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:200px;
    width:50%;
}

/* Section End */

.workSectionEnd-container img {
    max-width: 100%;
    max-height: 100%;
}

.workSectionEnd-container {
    display:flex;
    flex-direction: row;
    /* background-color: red; */
    width:100%;
    height: 1200px;
}

.workSectionEnd-left {
    /* background-color: aqua; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width:60%;
    height:100%;
}

.workSectionEnd-right {
    /* background-color: yellow; */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:40%;
}

/* Work Footer */
.workFooter-container {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:800px;
    margin-top:100px;
}

.workFooter-email-text {
    margin: 200px 0px 0px 200px;
    font-size: 30px;
    line-height: 1.5;
}

.workFooter-text-2 {
    margin-top:2%;
    font-size: 56px;
    text-decoration: underline;
}

.workFooter-links {
    margin-top:auto;
    margin-bottom:100px;
    margin-right: 80px;
    display: flex;
    gap: 38px;
    font-weight: 400;
    font-size:24px;
    justify-self: flex-end;
    align-self: flex-end;
}

.workFooter-links a {
    text-decoration: none;
    color:#000000;
}