.logoSection-container {
    display:flex;
    height: 260px;
    font-size: 26px;
    align-items: center;
    align-self: center;
    margin-top:3%;
}

.logoSection-line {
    height:260px;
    width:3px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
}

.logoSection-text {
    width:20%;
    margin-left:1%;
}

.logoSection-img {
    display: flex;
    width: 100%;
    margin-left:3%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.logoSection-img img {
    
    margin-top: 15px;
}

.logoSection-img-line-2 img {
    
}

.logoSection-img-line-1 {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:170px;
    margin-right: 40px;
}

.logoSection-img-line-2 {
    margin-left: 0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:235px;
    margin-right: 15px;
}

.logoSection-img-last {
    margin-left: 25px;
    margin-right: 0px;
}